@import "~bootstrap";
@import "~toastr/toastr.scss";


* {
    font-family: "Roboto Condensed";
    text-transform: uppercase !important;
    // border-radius: 0 !important;
    margin: 0;
    padding: 0;
}


.swal2-popup {
font-size: 0.7rem !important;
}

button:focus {
outline: none !important;
box-shadow: none !important;
}

.swal2-icon.swal2-warning {
border-radius: 50% !important;
}

.swal2-icon.swal2-info {
border-radius: 50% !important;
}

.swal2-title {
font-size: 1rem !important;
}

.wrapper {
    margin: 1em auto;
    max-width: 100%;
    width: 95%;
}

/* Button styling */
.buttonDropDownRow {
    border: none;
    background-color: transparent;
}

/* Table styling */
th,
td {
    padding: 3px 15px !important;
    border-right: 1px solid #d7d7d785 !important;
    border-bottom: none !important;
    text-align: center !important;
    font-size: 13px !important;
    vertical-align: middle !important;
}

th input,
td input,
th i,
td i {
    display: inline-block;
    vertical-align: middle;
}


table.dataTable {
    border-radius: 0px !important;
    width: 100%;
    border: 1px solid #d7d7d785 !important;
    border-top: none !important;
    border-right: none !important;
    color: #656565;
}

/* Style the checkbox checkbox*/
.dataTables_wrapper input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #0075ff;
}

#select_all.indeterminate:before {
    content: '-';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #767676;
    border-radius: 5px !important;
}



/* Table header styling */
table.dataTable thead {
    background-color: #f2f2f2;
}

/* Dropdown menu styling */
.dropdown-menu {
    font-size: 14px !important;
    min-width: 3rem !important;
    cursor: default;
    padding: 0px;
}

/* Search input styling */
.dataTables_filter{
    margin-top: 15px;
    font-size: 13px;
}

.dataTables_filter input[type="search"] {
    height: 28px;
    width: 180px;
}

/* Pagination styling */
.dataTables_paginate {
    margin-top: 4px;
}

.paginate_button{
    margin: 0px 0px 0px 2px !important;
    padding: 0px 5px !important;
}

.dataTables_paginate .paginate_button {
    font-size: 13px;
}

.dataTables_length {
    margin-top: 20px;
}

.dataTables_length select {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    height: auto !important;
    font-size: 13px !important;
}

.dataTables_info,
.dataTables_length label {
    font-size: 13px;
}

/* Processing animation */
div.dataTables_processing div {
    display: none;
}


.selected-row {
    background-color: rgba(1, 151, 251, 0.168627451) !important; 
}
